@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl("header.jpg") top left;
    background-size: cover;

    .navigation-bar {
        padding: 17px 0;

        .socials .btn {
            height: 40px;
            width: 40px;
        }
    }

    .banner {
        padding: 121px 0 130px;

        .cta {
            border-radius: 0 20px 20px 0;
        }
    }
}

section.services {
    padding: 76px 0;

    .nav.nav-pills {
        justify-content: space-between;
        margin: 51px 0 55px;

        li.nav-item button.nav-link {
            border-radius: 10px;
            font-size: 1.25rem;
            height: 59px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black;
            font-weight: 500;

            &.active {
                color: $white;
                font-weight: 400;
            }
        }
    }

    .tab-content {
        .tab-pane {
            background: $primary;
            border-radius: 50px;
            padding: 17px;
            color: $white;

            .hero_img {
                border-radius: 35px;
                width: 100%;
            }
        }
    }
}

section.form {
    padding: 97px 0;
    background: imgUrl('form.jpg');
    background-size: cover;

    form {
        input {
            height: 76px;
            border-radius: 5px;
            border: 0;
            padding: 8px 29px;
            color: $black;
            font-size: 1rem;
            font-family: $font-open-sans;

            &::placeholder {
                opacity: 0.8;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        button {
            height: 50px;
        }
    }
}

section.why-us {
    padding: 76px 0;

    .why-us-card {
        border-radius: 20px;
        overflow: hidden;

        .caption {
            background-color: $primary;
            color: $white;
            font-size: 1.25rem;
            min-height: 98px;
            display: flex;
            align-items: center;
            padding: 26px;
        }
    }
}

section.steps-to-keep-safe {
    background: imgUrl("steps-to-keep-safe.jpg");
    background-size: cover;
    padding: 75px 0 65px;

    .steps-card {
        text-align: center;
        position: relative;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        .number {
            opacity: 0.4;
            font-family: $font-agharti;
            font-weight: 800;
            line-height: 1;
        }

        .text {
            position: absolute;
            text-transform: capitalize;
            max-width: 193px;
            font-weight: 600;
            line-height: 1.218;
        }
    }
}

section.asbestos-location {
    background: $grey;
    padding: 75px 0;

    .house-wrapper {
        position: relative;

        .pointer {
            height: 33px;
            width: 33px;
            background-color: $secondary;
            border-radius: 50%;
            position: absolute;
            display: none;

            &.pointer-1 {
                right: 29%;
                top: 30%;
            }

            &.pointer-2 {
                bottom: 30%;
                right: 20%;
            }

            &.pointer-3 {
                bottom: 23%;
                left: 19%;
            }

            &.pointer-4 {
                top: 20%;
                left: 31%;
            }

            &.pointer-5 {
                top: 62%;
                left: 48%;
            }

            &.pointer-6 {
                top: 47%;
                left: 48%;
            }

            &.pointer-7 {
                top: 49%;
                left: 34%;
            }

            &.pointer-8 {
                top: 0;
                left: 0;
            }

            &.pointer-9 {
                top: 38%;
                left: 39%;
            }

            &.pointer-10 {
                top: 0;
                left: 0;
            }

            &.pointer-11 {
                top: 0;
                left: 0;
            }

            &.pointer-12 {
                top: 39%;
                left: 33%;
            }

            &.pointer-13 {
                top: 0;
                left: 0;
            }

            &.pointer-14 {
                top: 0;
                left: 0;
            }

            &.pointer-15 {
                top: 0;
                left: 0;
            }

            &.pointer-16 {
                top: 40%;
                left: 19%;
            }

            &.pointer-17 {
                top: 0;
                left: 0;
            }

            &.pointer-18 {
                top: 0;
                left: 0;
            }

            &.pointer-19 {
                left: 50%;
                top: 53%;
            }

            &.pointer-20 {
                top: 22%;
                left: 56%;
            }

            &.pointer-21 {
                top: 0;
                left: 0;
            }

            &.pointer-22 {
                top: 4%;
                left: 45%;
            }

            &.pointer-23 {
                top: 0;
                left: 0;
            }

            &.pointer-24 {
                top: 24%;
                left: 22%;
            }

            &.pointer-25 {
                top: 27%;
                left: 50%;
            }
        }
    }

    .asbestos-location-btn {
        background: $white;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        color: $primary;
        border-radius: 10px;
        line-height: 1;
        padding: 17px 22px;
        text-decoration: none;
        font-weight: 600;
        transition: 0.2s all;
        text-transform: capitalize;

        &:hover,
        &.active {
            background: $primary;
            color: $white;
        }
    }
}

section.licenses {
    padding: 75px 0;
    background: $light;
    color: $primary;
}

section.contact-us {
    background: imgUrl("danger.png") 5rem center $primary;
    background-size: contain;
    color: $white;
    padding: 75px 0;

    form {
        input {
            height: 76px;
            border-radius: 5px;
            border: 0;
            padding: 8px 29px;
            color: $black;
            font-size: 1rem;
            font-family: $font-open-sans;

            &::placeholder {
                opacity: 0.8;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        button {
            height: 50px;
        }
    }
}

section.services-areas {
    background: imgUrl('map.jpg') center;
    background-size: cover;
    padding: 96px 0 126px;

    .map {
        height: 554px;
        width: 554px;
        border-radius: 40px;
    }
}

footer {
    font-size: 1rem;
    background-color: #1C1C1B;
    padding: 36px 0;
    font-family: $font-open-sans;
    color: $light;
}