@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

.slide-navigation {
    background: $primary;
    padding: 8px;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    transform: translateY(-100%);
    transition: 0.2s all;

    .main-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        ul.nav-list {
            padding-inline-start: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                padding: 16px 0;

                a {
                    color: $white;
                    text-decoration: none;
                    font-size: 2.25rem;
                    font-weight: 700;
                    line-height: 1;
                }
            }
        }
    }

    &.show {
        transform: translateY(0);
    }
}

header {
    background: imgUrl("header.jpg") top left;
    background-size: cover;

    .navigation-bar {
        padding: 17px 0;

        .socials .btn {
            height: 40px;
            width: 40px;
        }

        @include media-breakpoint-down(sm) {
            padding: 48px 0;
        }
    }

    .banner {
        padding: 121px 0 130px;

        .cta {
            border-radius: 0 20px 20px 0;

            @include media-breakpoint-down(lg) {
                border-radius: 0;
                padding: 16px;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 64px 0;
        }
    }
}

section.services {
    padding: 76px 0;

    .nav.nav-pills {
        justify-content: space-between;
        margin: 51px 0 55px;

        @include media-breakpoint-down(sm) {
            margin: 24px 0;
        }

        li.nav-item button.nav-link {
            border-radius: 10px;
            font-size: 1.25rem;
            height: 59px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black;
            font-weight: 500;

            &.active {
                color: $white;
                font-weight: 400;
            }

            @include media-breakpoint-down(sm) {
                font-size: 1rem;
                height: 40px;
            }
        }
    }

    .tab-content {
        .tab-pane {
            background: $primary;
            border-radius: 50px;
            padding: 17px;
            color: $white;

            @include media-breakpoint-down(sm) {
                border-radius: 20px;
            }

            .hero_img {
                border-radius: 35px;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    border-radius: 8px;
                }
            }
        }
    }
}

section.form {
    padding: 97px 0;
    background: imgUrl('form.jpg') center;
    background-size: cover;

    @include media-breakpoint-down(xl) {
        background-position-x: right;
    }

    @include media-breakpoint-down(sm) {
        padding: 75px 0;
    }

    form {
        .form-control {
            height: 76px;
            border-radius: 5px;
            border: 0;
            padding: 8px 29px;
            color: $black;
            font-size: 1rem;
            font-family: $font-open-sans;

            &::placeholder {
                opacity: 0.8;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

            @include media-breakpoint-down(sm) {
                height: 50px;
            }
        }

        button {
            height: 50px;
        }
    }
}

section.why-us {
    padding: 76px 0;

    .why-us-card {
        border-radius: 20px;
        overflow: hidden;

        .caption {
            background-color: $primary;
            color: $white;
            font-size: 1.25rem;
            min-height: 98px;
            display: flex;
            align-items: center;
            padding: 26px;

            @include media-breakpoint-down(sm) {
                padding: 16px;
                font-size: 0.875rem;
                min-height: 70px;
            }
        }

        @include media-breakpoint-down(sm) {
            border-radius: 10px;
        }
    }
}

section.steps-to-keep-safe {
    background: imgUrl("steps-to-keep-safe.jpg");
    background-size: cover;
    padding: 75px 0 65px;

    .steps-card {
        text-align: center;
        position: relative;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        .number {
            opacity: 0.4;
            font-family: $font-agharti;
            font-weight: 800;
            line-height: 1;
        }

        .text {
            position: absolute;
            text-transform: capitalize;
            max-width: 193px;
            font-weight: 600;
            line-height: 1.218;
            font-size: 1.875rem;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
                max-width: 150px;
            }
        }
    }
}

section.asbestos-location {
    background: $grey;
    padding: 75px 0;

    .house-wrapper {
        position: relative;

        .pointer {
            height: 33px;
            width: 33px;
            background-color: $secondary;
            border-radius: 50%;
            position: absolute;
            display: none;

            @include media-breakpoint-down(lg) {
                height: 16px;
                width: 16px;
            }

            &.pointer-1 {
                right: 29%;
                top: 30%;
            }

            &.pointer-2 {
                bottom: 30%;
                right: 20%;
            }

            &.pointer-3 {
                bottom: 23%;
                left: 19%;
            }

            &.pointer-4 {
                top: 20%;
                left: 31%;
            }

            &.pointer-5 {
                top: 62%;
                left: 48%;
            }

            &.pointer-6 {
                top: 47%;
                left: 48%;
            }

            &.pointer-7 {
                top: 49%;
                left: 34%;
            }

            &.pointer-8 {
                top: 8%;
                left: 56%;
            }

            &.pointer-9 {
                top: 38%;
                left: 39%;
            }

            &.pointer-10 {
                top: 28%;
                right: 27%;
            }

            &.pointer-11 {
                bottom: 34%;
                right: 12%;
            }

            &.pointer-12 {
                top: 39%;
                left: 33%;
            }

            &.pointer-16 {
                top: 40%;
                left: 19%;
            }

            &.pointer-19 {
                left: 50%;
                top: 53%;
            }

            &.pointer-20 {
                top: 22%;
                left: 56%;
            }

            &.pointer-22 {
                top: 4%;
                left: 45%;
            }

            &.pointer-24 {
                top: 24%;
                left: 22%;
            }

            &.pointer-25 {
                top: 27%;
                left: 50%;
            }
        }
    }

    .asbestos-location-btn {
        background: $white;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        color: $primary;
        border-radius: 10px;
        line-height: 1;
        padding: 17px 22px;
        text-decoration: none;
        font-weight: 600;
        transition: 0.2s all;
        text-transform: capitalize;

        &:hover,
        &.active {
            background: $primary;
            color: $white;
        }

        @include media-breakpoint-down(lg) {
            height: 40px;
            font-size: 0.875rem;
            padding: 16px 8px;
        }
    }
}

section.licenses {
    padding: 75px 0;
    background: $light;
    color: $primary;

    .license-slider {

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

section.contact-us {
    background: imgUrl("danger.png") 5rem center $primary;
    background-size: contain;
    color: $white;
    padding: 75px 0;

    form {
        .form-control {
            height: 76px;
            border-radius: 5px;
            border: 0;
            padding: 8px 29px;
            color: $black;
            font-size: 1rem;
            font-family: $font-open-sans;

            &::placeholder {
                opacity: 0.8;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

            @include media-breakpoint-down(sm) {
                height: 50px;
            }
        }

        button {
            height: 50px;
        }
    }
}

section.services-areas {
    background: imgUrl('map.jpg') center;
    background-size: cover;
    padding: 96px 0 126px;

    @include media-breakpoint-down(lg) {
        background: $dark;
        padding: 75px 0;
    }

    .map {
        height: 554px;
        width: 554px;
        border-radius: 40px;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}

footer {
    font-size: 1rem;
    background-color: #1C1C1B;
    padding: 36px 0;
    font-family: $font-open-sans;
    color: $light;

    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }
}